@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-300-italic.woff2") format("woff2"), url("../fonts/lato-300-italic.woff") format("woff"),
      url("../fonts/lato-300-italic.ttf") format("truetype");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-800-italic.woff2") format("woff2"), url("../fonts/lato-800-italic.woff") format("woff"),
      url("../fonts/lato-800-italic.ttf") format("truetype");
   font-weight: 800;
   font-style: italic;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-300-normal.woff2") format("woff2"), url("../fonts/lato-300-normal.woff") format("woff"),
      url("../fonts/lato-300-normal.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-500-normal.woff2") format("woff2"), url("../fonts/lato-500-normal.woff") format("woff"),
      url("../fonts/lato-500-normal.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-600-normal.woff2") format("woff2"), url("../fonts/lato-600-normal.woff") format("woff"),
      url("../fonts/lato-600-normal.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/lato-800-normal.woff2") format("woff2"), url("../fonts/lato-800-normal.woff") format("woff"),
      url("../fonts/lato-800-normal.ttf") format("truetype");
   font-weight: 800;
   font-style: normal;
}
